section {
    height: 100vh; /* 100% de la altura del viewport */
    width: 100%;   /* 100% del ancho de la pantalla */
    background-color: #060505; /* Color de fondo */
    color: beige;
    padding: 30px;
}


