

<div class="game-container p-3">

  <div *ngIf="help" class="help">
    <div class="help-container">
      <div class="close-help" (click)="closeHelp()">
        <i class="bi bi-x"></i>
      </div>
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/help/get_points.PNG" class="d-block w-100 img-help" alt="...">
            <div class="carousel-caption d-none d-md-block parrafo-de-ayuda">
              <h4>Get Points</h4>
              <h5>🔴 normal food +10 points</h5>
              <h5>🔵 super food +20 points + Speed Up 20 seconds <i class="bi bi-speedometer2"></i> </h5>
              <h5>🟡 hyper meal +50 points + Spedd Up 50 seconds <i class="bi bi-speedometer2"></i></h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/help/speedUp.PNG" class="d-block w-100 img-help" alt="...">
            <div class="carousel-caption d-none d-md-block parrafo-de-ayuda">
              <h4>Speed Up</h4>
              <h5>the snake increases its speed if it eats the blue or golden food for 20 and 50 seconds respectively. .</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/help/colicion_limite.PNG" class="d-block w-100 img-help" alt="...">
            <div class="carousel-caption d-none d-md-block parrafo-de-ayuda">
              <h4>Collisions</h4>
              <h5>if you crash into the limits you die👻.</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/help/colision_cuerpo.PNG" class="d-block w-100 img-help" alt="...">
            <div class="carousel-caption d-none d-md-block parrafo-de-ayuda">
              <h4>Collisions</h4>
              <h5>if you crash into your tail you die 👻.</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../assets/help/colicion_obstaculos.PNG" class="d-block w-100 img-help" alt="...">
            <div class="carousel-caption d-none d-md-block parrafo-de-ayuda">
              <h4>Collisions</h4>
              <h5>if you collide with obstacles you die 👻.</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  
  
  <div class="row g-3 game-area">
    <!-- Columna para el Rank -->
    <div class="col-md-4 ">
      <div class="rank bord p-4  w-100 sect">
        <div class="row">
          <div class="col-md-8">
            <h2><i class="bi bi-person-circle me-2"></i>{{user.username}}</h2>
          </div>
          <div class="col-md-4">
            <h3 
            (click)="showHelp()"
            class="help-btn p-2 d-flex justify-content-center align-items-center"><i class="bi bi-question-circle"></i>Help</h3>
          </div>
        </div>
        
        <h1 class="text-center score p-1 w-80">{{ score }}</h1>
        
        <div class="d-flex justify-content-center align-items-center">
          <div 
            (click)="toggleGame()" 
            class="control-status">
            <i *ngIf="!inPley" class="bi bi-play-fill"></i>
            <i *ngIf="inPley" class="bi bi-pause-fill"></i>
          </div>
        </div>
        

        <h3 class="mt-2">Difficulty</h3>
        <h1 class="text-center df">
          @if ( dificult=='Easy') {
              🥱Easy
          }
          @else if ( dificult=='Half') {
              😜Half
          }
          @else {
              💀Difficult
          }
        </h1>

        <h3 class="mt-2">Time</h3>
        <h1 class="text-center df">{{ gameTime }}s</h1>


        <h3 class="mt-2">types of points </h3>
        <h5 class="reg text-center">Normal: +10 points</h5> 
        <h5 class="sup text-center">Super: +20 points - Speed x2  for 10s <i class="bi bi-speedometer2"></i></h5> 
        <h5 class="hyp text-center">Hyper: +50 points - Speed x4 for 20s <i class="bi bi-speedometer2"></i></h5> 
      </div>
    </div>

    <!-- Columna para el Game Space -->
    <div class="col-md-8 d-flex justify-content-center align-items-center ">
      <canvas #gameCanvas width="900" height="600" class="sect"></canvas>
    </div>
  </div>
  <div class=" show-modal" data-bs-toggle="modal" data-bs-target="#exampleModal"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"> <!-- Agregar modal-dialog-centered aquí -->
      <div class="modal-content p-4">
          <h1 style="font-size: 60px;">Game</h1>
          
          <div class="w-100  d-flex justify-content-center align-items-center ">
            <h1 class="score ">{{score}}</h1>
        </div>
        <h2 class="mt-3  text-center gene">2024-05-06 - 
            @if ( dificult=='Easy') {
                🥱Easy
            }
            @else if ( dificult=='Half') {
                😜Half
            }
            @else {
                💀Difficult
            }
        </h2>
          
          
      </div>
  </div>
</div>